@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Tangerine&display=swap');

* {
    margin: 0;
    font-family: 'Jost', sans-serif;
}

body {
    overflow-x: hidden;
}

/* ---------------------------------------------------------------Model--------------------------------------------------------- */

/* -----------------------------------------------Button------------------------------------------ */
.button-model1 {
    border: none;
    display: flex;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 0.9em;
    word-spacing: 0.2px;
    padding: 20px 30px;
    background: linear-gradient(90deg, rgba(194,120,251,1) 0%, rgba(249,115,255,1) 100%);;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
}

.but-text {
    z-index: 2;
}

.but-hover-effect {
    position: absolute;
    top: 0px;
    left: 120px;
    width: 10px;
    height: 70px;
    transition: 1s;
    z-index: 1;
}

.button-model1:hover > .but-hover-effect {
    transform: scale(26);
    background: linear-gradient(90deg, rgba(251,123,120,1) 0%, rgba(255,173,117,1) 68%);
}
/* ------------------------------------------------------------------------------------------------- */

/* -------------------------------------------Animation------------------------------------------- */

@keyframes by-by-hand {
    0%   {transform: rotate(0deg);}
    10%   {transform: rotate(15deg);}
    20% {transform: rotate(-15deg);}
    30%   {transform: rotate(15deg);}
    40% {transform: rotate(-15deg);}
    50% {transform: rotate(0deg);}
    60% {transform: rotate(0deg);}
    70%   {transform: rotate(0deg);}
    80%   {transform: rotate(0deg);}
    90%   {transform: rotate(0deg);}
    100%   {transform: rotate(0deg);}
}

@keyframes play-button {
    0% {transform: scale(1) ; opacity: 1;}
    40% {transform: scale(1.5) ; opacity: 0;}
    50% {transform: scale(1.5) ; opacity: 0;}
    60% {transform: scale(1.5) ; opacity: 0;}
    70% {transform: scale(1.5) ; opacity: 0;}
    80% {transform: scale(1.5) ; opacity: 0;}
    90% {transform: scale(1.5) ; opacity: 0;}
    100% {transform: scale(1.5) ; opacity: 0;}
}

@keyframes bg-james {
    0%   {transform: rotate(2deg);}
    25%   {transform: rotate(-2deg);}
    50% {transform: rotate(2deg);}
    75%   {transform: rotate(-2deg);}
    100% {transform: rotate(2deg);}
}

@keyframes div-flotante {
    0% {transform: translate(0, 0);}
    25%   {transform: translate(25px, -10px);}
    50% {transform: translate(0, -20px);}
    75%   {transform: translate(25px, -10px);}
    100% {transform: translate(0, 0);}
}

@keyframes rotating-circle {
    from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}

/* ------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------------------------- */

.Nav-fix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 120px;
    margin: auto;
}

.img-logo {
    width: 166px;
    height: 40.5px;
    transform: scale(1.1);
}

nav {
    width: 60%;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

.nav-list > li a {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    color: #10161b;
}

.main-li:hover .main-link {
    color: #F37474;
}

.arrow {
    transition: 0.5s;
}

.main-li:hover .main-link .arrow {
    transform: rotate(180deg);
} 

.sous-li:hover .second-link {
    color: #F37474;
}

/* -----------------------------------------------Nav-drop-downs--------------------------------------- */

.drop-down {
    position: absolute;
    list-style: none;
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition-property: transform;
    transition-duration: 0.4s;
    transform: translate(0 , 20px);
    visibility: hidden;
}

.hr-menu {
    color: #EBEBEB;
}

.drop-down li {
    padding: 10px 30px;
}

.drop-down li a {
    font-family: 'Jost', sans-serif;
}

.Home:hover >.home-dd {
    visibility: visible;
    transform: translate(0 , 0);
}


.About:hover >.about-dd {
    visibility: visible;
    transform: translate(0 , 0);
}

.Service:hover >.service-dd {
    visibility: visible;
    transform: translate(0 , 0);
}

.Pages:hover >.pages-dd {
    visibility: visible;
    transform: translate(0 , 0);
}

.Blog:hover >.blog-dd {
    visibility: visible;
    transform: translate(0 , 0);
}

.Contact:hover >.contact-dd {
    visibility: visible;
    transform: translate(0 , 0);
}

.contact-dd {
    z-index: 5;
}

.hr-bot-margin {
    margin-bottom: 50px;
}

/* ------------------------------------------------------------------------------------------------------ */

/* -----------------------------------------------------Bground-section1-------------------------------------------------------- */
/* ------------------------------Bground--------------------------- */

.bg-heder-S1 {
    position: absolute;
    z-index: -1;
}

.banner-lines {
    position: absolute;
    top: 0;
    left: 0;
}

.banner-obect {
    position: absolute;
    top: 62vh;
    left: 0;
}

.banner-obect2 {
    position: absolute;
    right: 0;
    top: 25vh;
}

/* ------------------------------content---------------------------- */

.S1 {
    display: flex;
    position: relative;
    /* justify-content: space-around; */
    width: 70%;
    margin: auto;
}

.S1-part1 {
    width: 100%;
    padding-top: 90px;
}

.S1-hand {
    animation-name: by-by-hand;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.gradiant-bg-text {
    background: linear-gradient(to right, #fb7878 0%, #ffaf74 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pre-title {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 25px;
}

.aft-title {
    color: #878787;
    font-size: 1.2em;
    line-height: 30px;
    margin-bottom: 25px;
    width: 70%;
}

h1 {
    font-size: 5em;
    margin-bottom: 20px;
}

.S1-but-sec {
    display: flex;
    align-items: center;
}

.S1-circle-but {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background: linear-gradient(to right, #fb7878 0%, #ffaf74 100%);
}

.div-play-but {
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 30px;
}

.play-but-effect {
    position: absolute;
    z-index: -1;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, #fb7878 0%, #ffaf74 100%);
    animation-name: play-button;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: 0.5s;
}

.S1-social-links {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.S1-social-link-element {
    margin: 7px;
}

.S1-social-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    transition: 0.4s ease;
}

.S1-social-link:hover {
    background-color: #10161B;
    color: #FFFFFF;
}

.james-collage {
    display: flex;
}

.james-img {
    z-index: 1;
    width: 40vw;
}

.james-line {
    position: absolute;
    width: 40vw;
}

.james-bg {
    position: absolute;
    width: 40vw;
    animation-name: bg-james;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.div-flotante {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: absolute;
    z-index: 5;
    border-radius: 25px;
    padding: 20px 40px 20px 20px;
}

.awards-div {
    animation-name: div-flotante;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    transition: 0.5s;
    animation-direction: reverse;
}

.happy-div {
    animation-name: div-flotante;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    transition: 0.5s;
    animation-direction: reverse;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #D4F8CA;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.awards-div {
    top: 30%;
    right: 0;
}

.awards-div-text {
    width: 100px;
    font-weight: 600;
}

.happy-div {
    bottom: 10%;
}

.happy-div-text {
    width: 110px;
}

.happy-div-25k {
    font-weight: 900;
    font-size: 1.5em;
}

/* ----------------------------------------------------------Section2---------------------------------------------------- */

.S2 {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.S2-part1 {
    position: relative;
}

.james-img2 {
    height: 651px;
    border-radius: 50px;
}

.S2-circle {
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: column;
    bottom: 3px;
    right: -100px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.dashed-circle {
    display: flex;
    position: absolute;
    border: 3px dashed #FB7878;
    width: 197px;
    height: 197px;
    border-radius: 50%;
    animation-name: rotating-circle;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.number-circle {
    font-size: 3em;
    font-weight: 700;
}

.text-circle {
    font-size: 1.2em;
    font-weight: 600;
    width: 50%;
    margin: 0 auto;
}

.S2-part2 {
    width: 50%;
    padding-top: 30px;
}

.S2-icon-title-part2 {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.S2-title-part2 {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 20px;
}

.S2-HugTitle-part2 {
    font-size: 4em;
    width: 80%;
    margin-bottom: 20px;
}

.S2-aft-title {
    color: #878787;
    font-size: 1.05em;
    line-height: 25px;
    margin-bottom: 25px;
}

.select-menu {
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.select-menu-butt {
    
}

.hided-grid {
    display: none;
}